<!-- Componente principal app-padre -->

<!-- Componente Header -->
<app-header [callBackDeleteItemCart]="deleteItemCart" [callBackIncreaseQuantity]="increaseQuantity"
  [callBackDecreaseQuantity]="decreaseQuantity" [callBackClearCart]="clearCart"></app-header>
<!-- FIN Componente Header -->

<main class="container-xl mt-5">
  <h2 class="text-center">Nuestra Colección</h2>

  <div class="row mt-5">


    @for ( guitar of guitars; track guitar.id ){

    <!-- Enviando el item guitar a el componente hijo -->
    <app-guitar class="col-md-6 col-lg-4 my-4 row align-items-center" [guitar]="guitar"
      [callBackAddItemCart]="addItemCart">
    </app-guitar>

    }@empty {

    <h1>Lista vacia de item guitarras</h1>

    }


  </div>

</main>

<!-- Componente Footer -->
<app-footer></app-footer>
<!-- FIN Componente Footer -->
